*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

img {
  max-width: 100%;
  display: block;
}

body {
  font-family: "Outfit";
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
  height: 100%;
}

.card-img {
  margin-bottom: 2.4rem;
}

.card-text {
  text-align: center;
}

.heading-primary {
  font-size: 2.2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.text {
  font-size: 1.5rem;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
}

.card {
  padding-top: 1.6rem;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  padding-bottom: 4rem;
  max-width: 32rem;
  max-height: 49.7rem;
  background-color: #fff;
  border-radius: 20px;
}

.qr-code {
  border-radius: 10px;
}
